@page "/fetchdata"
@using BlazorApp1.Service
@using BlazorApp1.DataBaseClasses
@using Microsoft.EntityFrameworkCore

@inject IDataBaseService DataBaseService

<AuthorizeView  Context="auth" Roles="Admin">
    <Authorized>
        <PageTitle>UserList</PageTitle>
        <div class="container">
            <div class="row">
                <div class="col-8">
                    <h1>Пользователи сети:</h1>

                    <table class="table">
                        <thead>
                        <tr>
                            <th>Id</th>
                            <th>ФИО</th>
                            <th>Пост</th>
                            <th>Роль</th>
                        </tr>
                        </thead>
                        <tbody>
                        @if (_users == null) {
                            <p>Нет пользователей</p>
                        }
                        else {
                            @foreach (var user in _users) {
                                <tr>
                                    <td>@user.Id</td>
                                    <td>@(user.LastName + " " + user.Name + " " + user.MiddleName)</td>
                                    <td>@user.Post?.PostName</td>
                                    <td>@user.Role?.Name</td>
                                    <td><button type="button" @onclick="() => DeleteUser(user.Id)">Удалить</button></td>
                                </tr>
                            }
                        }
                        </tbody>
                    </table>
                </div>
                <div class="col-2">
                    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                        <button class="btn btn-primary"
                                @onclick="@Open">Добавить пользователя</button>
                        <button class="btn btn-primary"
                                @onclick="@OpenRolesModal">Добавить должность</button>
                    </div>
                </div>
            </div>
        </div>
    
        <Modal @ref="Modal">
            <Title>Добавление пользователя</Title>
            <Body>
            <EditForm EditContext="@EditContext">
                <DataAnnotationsValidator/>
                <div class="container">
                    <div class="row">
                        <div class="col-sm">
                            <p>
                                <label for="last_name_add">Фамилия</label>
                                <br/>
                                <input @bind="@User.LastName" name='last_name_add' id="last_name_add"/>
                                <ValidationMessage For="@(() => User.LastName)"/>
                            </p>
                            <p>
                                <label for="name_add">Имя</label>
                                <br/>
                                <input @bind="@User.Name" name='name_add' id="name_add"/>
                                <ValidationMessage For="@(() => User.Name)"/>
                            </p>
                            <p>
                                <label for="middle_name_add">Отчество</label>
                                <br/>
                                <input @bind="@User.MiddleName" name='middle_name_add' id="middle_name_add"/>
                                <ValidationMessage For="@(() => User.MiddleName)"/>
                            </p>
                        </div>
                        <div class="col-sm">
                            <p>
                                <label for="login_add">Логин</label>
                                <br/>
                                <input @bind="@User.Login" name='login_add' id="login_add"/>
                                <ValidationMessage For="@(() => User.Login)"/>
                            </p>
                            <p>
                                <label for="pass_add">Пароль</label>
                                <br/>
                                <input @bind="@User.Pass" name='pass_add' id="pass_add"/>
                                <ValidationMessage For="@(() => User.Pass)"/>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-sm">
                            <select @bind="@User.RoleId" class="form-select form-select-lg mb-3" aria-label=".form-select-lg">
                                <option value="0">Открыть меню выбора</option>
                                @foreach (var role in DataBaseService.GetRoles()) {
                                    <option value="@role.Id">@role.Name</option>
                                }
                            </select>
                            <ValidationMessage For="@(() => User.RoleId)"/>
                        </div>
                        <div class="col-sm">
                            <select @bind="@User.PostId" class="form-select form-select-lg mb-3" aria-label=".form-select-lg">
                                <option value="0">Открыть меню выбора</option>
                                @foreach (var post in DataBaseService.GetPosts()) {
                                    <option value="@post.Id">@post.PostName</option>
                                }
                            </select>
                            <ValidationMessage For="@(() => User.PostId)"/>
                        </div>
                    </div>
                </div>
            </EditForm>
            </Body>
            <Footer>
                <button type="button" class="btn btn-primary" @onclick="@Validate">Сохранить</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal" @onclick="@Close">Выйти</button>
            </Footer>
        </Modal>

        <Modal @ref="@ModalRole">
            <Title>Должности</Title>
            <Body>
            <div class="container">
                <div class="row">
                    <div class="col-sm">
                        <table class="table">
                            <thead>
                            <tr>
                                <th>Id</th>
                                <th>Должность</th>
                            </tr>
                            </thead>
                            <tbody>
                            @if (_posts == null) {
                                <p>Нет пользователей</p>
                            }
                            else {
                                @foreach (var post in _posts) {
                                    <tr>
                                        <td>@post.Id</td>
                                        <td>@post.PostName</td>
                                        <td><button type="button" @onclick="() => DeletePost(post.Id)">Удалить</button></td>
                                    </tr>
                                }
                            }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <EditForm EditContext="@EditContextPost">
                <DataAnnotationsValidator/>
                <p>
                    <label for="role_add">Наименование должности</label>
                    <br/>
                    <input @bind="@Post.PostName" name='role_add' id="role_add"/>
                    <ValidationMessage For="@(() => Post.PostName)"/>
                </p>
            </EditForm>
            </Body>
            <Footer>
                <button type="button" class="btn btn-primary" @onclick="@ValidatePost">Сохранить</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal" @onclick="@ClosePost">Выйти</button>
            </Footer>
            @code {
                
                public PostUser Post { get; set; } = new PostUser();

                public EditContext EditContextPost { get; set; }

                public void OpenRolesModal() {
                    EditContextPost = new EditContext(Post);
                    ModalRole.Open();
                }
                
                private Modal? ModalRole { get; set; }

                private void ValidatePost() {
                    if (EditContextPost.Validate()) {
                        DataBaseService.AddPost(Post);
                        Post = new PostUser();
                        EditContextPost = new EditContext(Post);
                        UpdateTablePost();
                        Close();
                    }
                }
                private void UpdateTablePost() {
                    _posts = DataBaseService.GetPosts();
                    InvokeAsync(StateHasChanged);
                }

                private void ClosePost() {
                    Post = new PostUser();
                    EditContextPost = new EditContext(Post);
                    ModalRole.Close();
                }

            }
        </Modal>
        
    </Authorized>
    <NotAuthorized>
        <RoleNoAccess/>
    </NotAuthorized>
</AuthorizeView>

@code {

    private List<PostUser> _posts;
    
    private EditContext? EditContext { get; set; }
                
    private User User { get; set; } = new();

    protected override void OnInitialized() {
        base.OnInitialized();
        
        _users = DataBaseService.GetUsers();
        _posts = DataBaseService.GetPosts();
        
        EditContext = new EditContext(User);
        EditContextPost = new EditContext(Post);
    }
    private Modal? Modal { get; set; }
            
    private List<User>? _users;

    private void Open() => Modal?.Open();
            
    private void Close() => Modal?.Close();

    private void Validate() {
        if (EditContext.Validate()) {
            User.Pass = HashSha256Service.CreateSha256(User.Pass);
            DataBaseService.AddUser(User);
            User = new User();
            EditContext = new EditContext(User);
            UpdateTable();
            Close();
        }
    }

    private void UpdateTable() {
        _users = DataBaseService.GetUsers();
        InvokeAsync(StateHasChanged);
    }

    private void DeleteUser(int userId) {
        DataBaseService.DeleteUser(userId);
        UpdateTable();
    }

    private void DeletePost(int roleId) {
        DataBaseService.DeletePost(roleId);
        UpdateTablePost();
    }

}